<!DOCTYPE html>
<html>
<head >
    <title></title>
	<meta charset="utf-8" />
    <link rel="shortcut icon" href="">

    <script src="../scripts/angular.js"></script>
    <script src="../scripts/Controllers/EmployeeController.js"></script>
</head>
<body ng-app="EmpApp">
    <h2>Employee Portal</h2>

    <div ng-controller="EmpController">

        <select ng-model="cViews">
            <option value="EmployeeListView.html">View as List</option>
            <option value="EmployeeTableView.html">View in Table</option>
        </select>


        <div ng-include="cViews" style="padding-top:50px;padding-left:50px;">
        </div>
    </div>

</body>
</html>
